<form action="/answer" method="get" class="input-group">
  <input type="text" name="question" id="question" class="form-control" placeholder="Ask me a question boss">
  <button type="submit" class="btn btn-primary">Ask</button>
</form>
